/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-circle{
    height: 290px;
    width: 290px;
    border-radius: 50%;
    background-color: black;
}

.laps{
    height: 300px;
    overflow: auto;
}

.text{
    color: white;
    font-size: 23px;
}

.minute{
    font-size: 48px;
} */

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 18%, 33%, 0.506);
}

h1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 4, 4);
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;

}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(6, 12, 18);
    text-shadow: 2px 2px 2px rgb(133, 130, 130);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: rgb(245, 144, 21);
}
#startBtn:hover{
    background-color: rgba(245, 144, 21, 0.508);
}

#stopBtn{
    background-color: red;
}

#stopBtn:hover{
    background-color: rgba(255, 0, 0, 0.58);
}
#resetBtn{
    background-color: rgb(228, 228, 72);
}
#resetBtn:hover{
    background-color: rgba(228, 228, 72, 0.571);
}
